* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: #2a7b9b;
  background: linear-gradient(
    30deg,
    rgb(31, 81, 100) 0%,
    rgb(54, 113, 78) 50%,
    rgb(76, 72, 35) 100%
  );
}

#main {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.635);
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.454);
  overflow: hidden;
}

#form {
  width: 100%;
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.43);
}

#form input {
  padding: 5px 10px;
  display: inline-block;
  min-width: 100px;
  background-color: transparent;
  border-radius: 2px;
}

#form input:focus {
  background-color: #494d28;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#form input[type="text"] {
  outline: none;
  border: 1px solid black;
  min-width: 300px;
}

#form input[type="text"]:focus::placeholder {
  color: rgba(255, 255, 255, 0.783);
  text-shadow: 1px 1px 1px black;
}

#form input[type="submit"] {
  background-color: #405f3b;
  color: white;
  cursor: pointer;
  border: none;
  text-shadow: 1px 1px 1px black;
}

#form input[type="submit"]:active {
  background-color: #22341f;
}

#form input[type="submit"]:hover {
  background-color: #494d28;
  cursor: pointer;
}

#todoList {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  overflow-y: scroll;
  max-height: 500px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.128) inset;
  padding-top: 5px;
}

#todoList li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid gray;
}

#todoList li:hover {
  background-color: rgba(0, 0, 0, 0.131);
}

.todoButtons {
  padding: 1px;
  display: flex;
  gap: 5px;
  display: flex;
  align-content: center;
}

.checkboxBtn {
  cursor: pointer;
}

.checkboxBtn {
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.54));
}

.removeBtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.54));
}

.removeBtn:hover {
  color: red;
}

.todoMessage {
  line-break: anywhere;
  text-align: center;
  width: 100%;
  padding: 2px 5px;
  padding-right: 10px;
}

.todoMessage.checked {
  text-decoration: line-through;
}

#footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 255, 255, 0.43);
}

#itemCount, #completeditemCount {
    font-weight: bold;
}
